<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}  
        {% endblock %}
    </head>
    <body>
        {% for message in app.flashes('notice') %}
            <div class="notice">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
</html>
