<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}  
        {% endblock %}
    </head>
    <body>
        {% for message in app.flashes('notice') %}
            <div class="notice">
                {{ message }}
            </div>
        {% endfor %}
                {% if is_granted('ROLE_USER') %}
                <p>
        You are logged in as {{ app.user.userIdentifier }} ({{ app.user.roles[0] }}), <a href="{{ path('app_logout') }}">Logout</a>
        {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
